/* Home.css */

.full-page {
    background-image: url('../page/image/yeab.jpg'); 
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    color: white; /* Text color */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */

            position: relative;
            background-repeat: no-repeat; /* Prevents repetition */
          
                 
      
  }
  