/* Home.css */

.full-page {
    background-image: url('../page/image/yeab.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

            position: relative;
            background-repeat: no-repeat; 
          
                 
      
  }
  